    <div class="container footer">
        <p>By David (<a href="http://www.freecodecamp.com/safari137">@safari137</a>)</p>
        <p><a href="https://github.com/safari137">Github</a></p>
    </div>
    </body>
</html>